* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
}

.header {
    background-color: #155f7d;
    color: black;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header h2 {
    font-weight: normal;
}

.header h1 {
    margin-top: 10px;
    font-weight: bold;
}

.main-container {
    display: flex;
    padding: 20px;
}

.content-area {
    width: calc(100% - 260px);
    padding-right: 20px;
}

.offers-box {
    border: 2px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
}

.filter-btn {
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.products-box {
    background-color: #bdbdbd;
    padding: 40px;
    min-height: 500px;
}

.side-panel {
    width: 220px;
    position: fixed;
    right: 20px;
    top: 160px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-btn {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    background-color: #b7d7f2;
    color: rgb(12, 11, 11);
    border-radius: 10px;
    font-weight: bold;
}

.side-btn:hover {
    background-color: #419feb;
}

.logout {
    background-color: #b7d7f2;
}
