* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
}

.header {
    background-color: #155f7d;
    color: black;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header h2 {
    font-weight: normal;
}

.header h1 {
    margin-top: 10px;
    font-weight: bold;
}

.main-container {
    display: flex;
    padding: 20px;
}

.content-area {
    width: calc(100% - 260px);
    padding-right: 20px;
}

.offers-box {
    border: 2px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
}

.filter-btn {
    padding: 10px 20px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.products-box {
    background-color: #bdbdbd;
    padding: 40px;
    min-height: 500px;
}

.side-panel {
    width: 220px;
    position: fixed;
    right: 20px;
    top: 160px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-btn {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    background-color: #b7d7f2;
    color: rgb(12, 11, 11);
    border-radius: 10px;
    font-weight: bold;
}

.side-btn:hover {
    background-color: #419feb;
}

.logout {
    background-color: #b7d7f2;
}

.products-box {
    margin-top: 20px;
}

.products-box h2 {
    margin-bottom: 15px;
}

.product-card {
    width: 220px;
    border: 1px solid #ccc;
    padding: 12px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #fff;
    border-radius: 6px;
}

/* image fix */
.product-card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 4px;
}

.product-card button {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.product-card button:hover {
    background: #0056b3;
}


